{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Symbol" type="text" required>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="shares" placeholder="Number of shares" type="text" required>
            <p class="mb-2 mt-1 small text-center">Only whole shares can be bought (ie. 1, 2, 3...)</p>
        </div>
        <button class="btn btn-primary" type="submit"> Buy </button>
    </form>
    {% block div %}{% endblock %}
{% endblock %}